<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sematec.basic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".menu.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".video_player.VideoPlayerActivity">

        </activity>
        <activity android:name=".shape.ShapeActivity"></activity>
        <activity android:name=".room_practice.BookListActivity" />
        <activity android:name=".countries.CountryListActivity" />
        <activity android:name=".add_edit.DestinationActivity" />
        <activity android:name=".add_edit.OriginActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".handler.SplashScreenActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".mvp.MVPActivity" />
        <activity android:name=".activities.LotteAnimationActivity" />
        <activity android:name=".ImageSearchEngineActivity" />
        <activity
            android:name=".activities.NavigationDrawerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activities.ListViewActivity" />
        <activity android:name=".activities.SharedPrefActivity" />
        <activity android:name=".activities.ImageViewerActivity" />
        <activity android:name=".activities.DestinationActivity" />
        <activity android:name=".activities.ClickEventsActivity" />
        <activity android:name=".activities.RelativeLayoutActivity" />
        <activity android:name=".activities.MyTestJavaActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>